@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap");

:root {
  --background-color: #ffffff;
  --secondary-background-color: #f4f6ff;
  --primary-black: #000000;
  --primary-blue: #0038ff;
  --secondary-color: #2ecc71;
  --font-size-base: 16px;
  --primary-font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font-family), Arial, sans-serif;
  font-size: var(--font-size-base);
}
